{% extends 'competition/photopostform.html' %}

{% load crispy_forms_tags %}

{% block customjs %}
<script>
    let requestURL = "{% url 'api:profile-detail' 0 %}".slice(0, -2)

$(document).ready(function() {

  $('#form').submit(function (event) {
    event.preventDefault();
    form = $(this)
    formData = new FormData(this);
    $.ajax({
      url: requestURL + {{ pk }} + "/",
      method: 'PATCH',
      data: formData,
      success: function (response) {
          console.log(response);
          window.location.href = "{% url 'profile' %}";
      },
      error: (error) => {
        console.log(error);
      },
      cache: false,
      contentType: false,
      processData: false
    });


  });
});
</script>
{% endblock customjs %}