{% extends 'competition/gallery.html' %}


{% block main %}
<!-- Page Content -->


    <div class="row text-center text-lg-start post-container">

    </div>

    <div class="container card my-4 py-5 post-comments">
      <div class="row d-flex justify-content-center comments-container">
      </div>

    </div>

{% endblock main %}

{% block customjs %}
<script>
    let activeReplyBlock = null;
    let detailPostId;

    $(document).ready(function() {
    $.ajax({
      url: "{% url 'api:gallery-detail' post_id  %}",
      type: "GET",
      dataType: "json",
       success: (postData) => {

          console.log(postData)
          const gallery = $(".post-container");
          gallery.empty()

            const post = `
            <div class="block">
                <h4>${postData.title}</h4>
                <img class="img-fluid img-thumbnail" src="${postData.full_image}" alt="${postData.title}">
                <div>
                    <p>
                        likes: ${postData.total_likes}
                        comments: ${postData.total_comments}
                    </p>
                </div>
                <div>
                    <b>Description:</b><br>
                    <span>
                        ${postData.description}
                    </span>
                </div>
            </div>`

            gallery.append(post);

            const comments= $(".comments-container");

            function renderComment(comment) {
                let render = document.createElement('div');
                render.classList.add('d-flex', 'flex-start', `comment-${ comment.id }`)
                render.innerHTML = `
                <img
                    class="rounded-circle shadow-1-strong me-3"
                    src="${ comment.author.profile_image || comment.author.thumbnail }"
                    alt="avatar"
                    width="65"
                    height="65"
                />`

                let content = document.createElement('div');
                content.classList.add('flex-grow-1', 'flex-shrink-1');

                content.innerHTML = `
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1">
                                <i>${ comment.author.username }</i>
                                <span class="small">- ${ comment.created_at }</span>
                            </p>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                ${ comment.text }
                            </div>
                            {% if request.user.is_authenticated %}

                            <div class="col-md-4 d-flex justify-content-end">
                                <div class="mt-2 text-right">
                                    <button class="btn btn-primary btn-sm shadow-none" type="button" onclick="DisplayReply(${comment.id})">reply</button>
                                </div>
                            </div>

                            <div class="comment-${comment.id}-reply-container">

                            </div>

                            {% endif %}
                        </div>`

                if (comment.comment_children){
                    let children = document.createElement('div');
                    children.classList.add(`children-comments-${ comment.id }`);
                    comment.comment_children.forEach(chcom => {
                        children.append(renderComment(chcom));
                    })
                    content.append(children);
                }


                render.append(content);
                return render;
            }

            if (comments)
            {
                postData.comments.forEach(comment=>{
                    comments.append(renderComment(comment));
                })

                // if (postData.comments.length == 0)
                // {
                //     comments.append(`<div> No comments, be the first </div>`);
                // }
            }else
            {

            }


            PostCommentBlock(postData.id)

        },
          error: (error) => {
            console.log(error);
          }
    });
    });

    function PostCommentBlock(id)
    {
        let block = document.createElement('div');
        block.classList.add('bg-light', 'p-2');
        block.innerHTML = `
        <div class="d-flex flex-row align-items-start">
                <textarea id="post-comment-textarea" class="form-control ml-1 shadow-none textarea"></textarea>
            </div>
            <div class="mt-2 text-right">
                <button class="btn btn-primary btn-sm shadow-none" type="button" onClick='SendPostComment(${id})'>
                    Comment
                </button>
            </div>`

        let container = $(".post-comments");
        container.append(block)

    }

    function ReplyCommentBlock(id)
    {
        let block = document.createElement('div');
                block.classList.add('bg-light', 'p-2');
                block.innerHTML = `
                <div class="d-flex flex-row align-items-start">
                        <textarea id="comment-${id}-reply-textarea" class="form-control ml-1 shadow-none textarea "></textarea>
                    </div>
                    <div class="mt-2 text-right">
                        <button class="btn btn-primary btn-sm shadow-none" type="button" onClick='SendReplyComment(${id})'>
                            Comment
                        </button>
                    </div>`

        return block
    }

    function DisplayReply(id)
    {
        if (activeReplyBlock)
            activeReplyBlock.empty()

        let postReplyContainer = $(`.comment-${id}-reply-container`);
        activeReplyBlock = postReplyContainer;

        let block = ReplyCommentBlock(id);

        activeReplyBlock.append(block)
    }

    function SendReplyComment(id)
    {
        const commentTextarea = document.getElementById(`comment-${id}-reply-textarea`);
        let replyText = commentTextarea.value
        //console.log(id)
        //console.log(replyText)

        urlquery = "{% url 'api:comment-list'%}"//.slice(0, -9)

            let csrftoken = getCookie('csrftoken');

            $.ajax({
                url: urlquery,
                type: "POST",
                data: {
                    'post': 2,
                    'text': replyText,
                    'parent': 2,
                },
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: (data) => {
                    console.log(data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
    }

    function SendPostComment(id)
    {
        const commentTextarea = document.getElementById(`post-comment-textarea`);
        let commentText = commentTextarea.value
        //console.log(id)
        //console.log(commentText)

        urlquery = "{% url 'api:comment-list'%}"//.slice(0, -9)

            let csrftoken = getCookie('csrftoken');

            $.ajax({
                url: urlquery,
                type: "POST",
                data: {
                    'post': 2,
                    'text': commentText,
                },
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: (data) => {
                    console.log(data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
    }

</script>
{% endblock customjs %}