{% extends 'competition/gallery.html' %}

{% load static %}
{% block main %}
    <div class="post-container row justify-content-around gallery">
    </div>
{% endblock main %}

{% block customjs %}
    <script>
        $(document).ready(function() {
        $.ajax({
          url: "{% url 'api:profile-list' %}",
          type: "GET",
          dataType: "json",
           success: (data) => {
              const gallery = $(".gallery");
              gallery.empty()

               const urlpost= "{% url 'post' 0 %}".slice(0, -1)

              data.forEach(postData => {

                const post = `
                <div class="post-${postData.id} col-md-4 col-6 card" >
                    <div class="card-header">
                        <h4> ${postData.title} </h4>

                        <a href="${urlpost + postData.id}" class="d-block mb-4 h-100 post_img_container">
                            <img class="img-fluid img-thumbnail" src="${postData.preview_image}"  width="100%" alt="${postData.title}">
                            <p class="post_description">
                                ${postData.description}
                            </p>
                        </a>
                    </div>
                    <div class="card-body container">
                        <div class="d-flex flex-row justify-content-around">
                            <div class="block">
                                <img src="{% static '/img/like.png' %}" width="20px"> ${postData.total_likes}
                            </div>
                            <div class="block">
                                <img src="{% static '/img/chat.png' %}" width="20px">${postData.total_comments}
                            </div>
                            <div class="block">
                                State: ${postData.state}
                            </div>
                            <div class="block button">
                                <img src="{% static '/img/delete.png' %}" width="20px">
                                <button type="button" class="btn btn-danger" onclick = 'remove(${postData.id})'>Remove</button>
                            </div>
                        </div>
                    </div>

                </div>`

                gallery.append(post);
              });
            },
              error: (error) => {
                console.log(error);
              }
            });
        });


        function remove(postId){
            deleteUrl = "{% url 'api:profile-detail' 0 %}".slice(0, -2)
            let csrftoken = getCookie('csrftoken');
            $.ajax({
                url: deleteUrl + postId + "/",
                headers: {
                    'X-CSRFToken': csrftoken
                },
                type: 'DELETE',
                success: (data) => {
                    $(`.post-${postId}`).remove()
                    //$(".post-container").remove($(`.post${postId}`));
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock customjs %}