{% extends 'competition/gallery.html' %}

{% load static %}
{% block main %}
    <div class="post-container row justify-content-around gallery">
    </div>

    <nav class="mt-4">
        <ul class="pagination justify-content-center page-container">
        </ul>
    </nav>
{% endblock main %}

{% block customjs %}
    <script>

        let currentActivePage;

        const UserProfileURL = "{% url 'api:profile-list' %}";

        $(document).ready(function() {
            GetUserProfilePage(UserProfileURL);
        });

        function GetUserProfilePage(queryURL)
        {
            $.ajax({
          url: queryURL,
          type: "GET",
          dataType: "json",
           success: (data) => {
              const gallery = $(".gallery");
              gallery.empty()

               const urlpost= "{% url 'post' 0 %}".slice(0, -1);
               const urledit= "{% url 'edit' 0 %}".slice(0, -1);

               let currentPageNumber = queryURL.slice(-1);

                if (currentPageNumber === "/")
                    currentActivePage = 1;
                else
                    currentActivePage = currentPageNumber;

               DisplayPagination(data);

              data.results.forEach(postData => {

                  let post_image_href = urlpost + postData.id
                  if (postData.state === 'new')
                      post_image_href = '#'

                const post = `
                <div class="post-${postData.id} col-md-4 col-6 card" >
                    <div class="card-header">
                        <h4> ${postData.title} </h4>

                        <a href="${urledit + postData.id}" class="d-block mb-4 h-100 post_img_container">
                            <img class="img-fluid img-thumbnail" src="${postData.preview_image}"  width="100%" alt="${postData.title}">
                            <p class="post_description">
                                ${postData.description}
                            </p>
                        </a>
                    </div>
                    <div class="card-body container">
                        <div class="d-flex flex-row justify-content-around">
                            <div class="block">
                                <img src="{% static '/img/like.png' %}" width="20px"> ${postData.total_likes}
                            </div>
                            <div class="block">
                                <img src="{% static '/img/chat.png' %}" width="20px">${postData.total_comments}
                            </div>
                            <div class="block">
                                State: ${postData.state}
                            </div>
                            <div class="block button">
                                <button type="button" class="btn btn-danger" onclick = 'remove(${postData.id})'>Remove</button>
                                <a href="${post_image_href}">
                                    <button type="button" class="btn btn-warning">Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>`

                gallery.append(post);
              });
            },
              error: (error) => {
                console.log(error);
              }
            });
        }


        function DisplayPagination(data)
        {
            elementCount = data.count

            is_lastPage = true;
            is_firstPage = true;

            nextPageURL ='#'
            if (data.next)
            {
                nextPageURL = data.next;
                is_lastPage = false;
            }

            previousPageURL = '#'
            if (data.previous) {
                previousPageURL = data.previous;
                is_firstPage = false;
            }

            let pagination = $('.pagination');
            pagination.empty();

            pagination.append( createPaginationElement('Previous', false, is_firstPage,  previousPageURL));

            pagination.append( createPaginationElement(currentActivePage, true, false, '#'));

            pagination.append( createPaginationElement('Next', false, is_lastPage, nextPageURL));
        }

        function createPaginationElement(content, is_active, is_disabled, url)
        {
            paginationElement = document.createElement('li');
            paginationElement.classList.add('page-item');

            if (is_active)
            {
                paginationElement.classList.add('active');
            }

            if (is_disabled)
            {
                paginationElement.classList.add('disabled');
            }

            paginationElement.innerHTML = `<a class="page-link" onclick='GetGalleryPagePosts("${url}")'>${content}</a>`
            return paginationElement;
        }


        function remove(postId){
            deleteUrl = "{% url 'api:profile-detail' 0 %}".slice(0, -2)
            let csrftoken = getCookie('csrftoken');
            $.ajax({
                url: deleteUrl + postId + "/",
                headers: {
                    'X-CSRFToken': csrftoken
                },
                type: 'DELETE',
                success: (data) => {
                    $(`.post-${postId}`).remove()
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock customjs %}